In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "WorldBank.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df.head()

,Country Name,Country Code,Series Name,Series Code,1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,8.8,9.51,10.39,11.46,12.43,...,18.84,20.68,22.33,24.08,26.17,27.99,30.1,32.44,..,..
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.179634586,0.959755898,0.776536942,6.267393589,11.75196648,17.23631859,...,44.8548851,42.7,43.22201891,69.1,67.259552,89.5,71.5,84.13713837,..,..
2,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,31.84515663,32.4,33.38011039,63.8,58.42366743,87.8,64.2,78.96107435,..,..
3,Afghanistan,AFG,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,67.90476227,69.64098358,71.3717804,73.09996796,74.82835388,76.55976105,...,85.35450745,82.8,86.56777915,95,92.5772934,98.7,92.5,98.038414,..,..
4,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,..,..,2.616230011,..,..,3.812425613,..,..,7.160684586,..