In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
csv_file_education = "EducationData.csv"
education = pd.read_csv(csv_file_education)

In [8]:
csv_file_population = 'Population_data.csv'
population = pd.read_csv(csv_file_population)

In [20]:
csv_file_economics = 'VenEcon.csv'
economics = pd.read_csv(csv_file_economics)

In [54]:
frames = [population, education, economics]
df = pd.concat(frames)
df

,Country Name,Country Code,Series Name,Series Code,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,"Venezuela, RB",VEN,Population density (people per sq. km of land ...,EN.POP.DNST,32.41009353,32.90973641,33.40319823,33.89045972,34.3720288,34.84879315,35.32127884,35.78955728,36.25312057,..
1,"Venezuela, RB",VEN,Population growth (annual %),SP.POP.GROW,1.571087019,1.529865044,1.488309734,1.448189989,1.410956652,1.377538959,1.346707547,1.31705725,1.286930752,..
2,"Venezuela, RB",VEN,Population in the largest city (% of urban pop...,EN.URB.LCTY.UR.ZS,11.50520402,11.33709563,11.17621762,11.02981591,10.8920503,10.75950811,10.63197334,10.50897193,10.38965244,..
3,"Venezuela, RB",VEN,"Population, total",SP.POP.TOTL,28587323,29028033,29463291,29893080,30317848,30738378,31155134,31568179,31977065,..
4,"Venezuela, RB",VEN,Population living in slums (% of urban populat...,EN.POP.SLUM.UR.ZS,..,..,..,..,..,..,..,..,..,..
5,"Venezuela, RB",VEN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.05442972,50.0812869,50.10822283,50.13508984,50.16167539,50.18767262,50.21294725,50.23737666,50.26112307,..
6,"Venezuela, RB",VEN,"Population, male (% of total)",SP.POP.TOTL.MA.ZS,49.94557028,49.9187131,49.89177717,49.86491016,49.83832461,49.81232738,49.78705275,49.76262334,49.73887693,..
7,"Venezuela, RB",VEN,"Population ages 65 and above, total",SP.POP.65UP.TO,1532816,1595595,1660816,1728407,1798807,1872352,1949541,2030796,2115057,..
8,"Venezuela, RB",VEN,"Population ages 15-64, total",SP.POP.1564.TO,18446608,18796235,19133607,19463631,19787207,20106367,20422290,20731567,21038003,..
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Last Updated: 04/24/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Venezuela, RB",VEN,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,92.781,93.6039581298828,93.6193,93.6561737060547,92.9207305908203,92.6501388549805,91.9967,88.9437,86.193977355957,..
1,"Venezuela, RB",VEN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.0141,93.8302764892578,93.8328,92.4953689575195,91.883659362793,92.8072509765625,91.9483,88.9005,86.0798187255859,..
2,"Venezuela, RB",VEN,"Adjusted net enrollment rate, primary, male (%...",SE.PRM.TENR.MA,92.5576,93.387077331543,93.4146,94.7693481445313,93.9154586791992,92.4994506835938,92.0431,88.9852,86.3034820556641,..
3,"Venezuela, RB",VEN,Children out of school (% of primary school age),SE.PRM.UNER.ZS,7.21902,6.39603996276855,6.38071,6.34383010864258,7.07926988601685,7.34986019134521,8.00332,11.0563,13.80601978302,..
4,"Venezuela, RB",VEN,"Children out of school, female (% of female pr...",SE.PRM.UNER.FE.ZS,6.98591,6.16972017288208,6.16719,7.50463008880615,8.11633968353271,7.19274997711182,8.05169,11.0995,13.9201803207397,..
5,"Venezuela, RB",VEN,"Children out of school, male (% of male primar...",SE.PRM.UNER.MA.ZS,7.44237,6.61291980743408,6.58538,5.23064994812012,6.08453989028931,7.50054979324341,7.95692,11.0148,13.6965198516846,..
6,"Venezuela, RB",VEN,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,95.3504,..,95.0289,..,..,..,96.5601,97.2137,..,..
7,"Venezuela, RB",VEN,"Literacy rate, adult male (% of males ages 15 ...",SE.ADT.LITR.MA.ZS,95.6754,..,94.5023,..,..,..,96.6511,97.0391,..,..
8,"Venezuela, RB",VEN,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,95.512,..,94.7702,..,..,..,96.6052,97.1271,..,..
9,"Venezuela, RB",VEN,"Literacy rate, youth (ages 15-24), gender pari...",SE.ADT.1524.LT.FM.ZS,1.00545,..,1.0139,..,..,..,1.00613,1.00661,..,..
10,"Venezuela, RB",VEN,"Literacy rate, youth female (% of females ages...",SE.ADT.1524.LT.FE.ZS,98.805,..,98.2364,..,..,..,99.3174,99.0926,..,..
11,"Venezuela, RB",VEN,"Literacy rate, youth male (% of males ages 15-24)",SE.ADT.1524.LT.MA.ZS,98.2699,..,96.8899,..,..,..,98.712,98.4419,..,..
12,"Venezuela, RB",VEN,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,98.5333,..,97.5592,..,..,..,99.0076,98.7595,..,..
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Last Updated: 04/24/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Venezuela, RB",VEN,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,27.08094145,28.18746471,26.09021232,21.06899563,40.63942752,62.16864998,121.7380853,254.9485348,..,..
1,"Venezuela, RB",VEN,GINI index (World Bank estimate),SI.POV.GINI,..,..,..,..,..,..,..,..,..,..
2,"Venezuela, RB",VEN,Employment in industry (% of total employment)...,SL.IND.EMPL.ZS,20.95700073,21.02300072,21.10700035,21.22599983,21.32900047,21.28000069,21.17099953,21.19599915,21.14999962,21.10300064
3,"Venezuela, RB",VEN,Final consumption expenditure (annual % growth),NE.CON.TOTL.KD.ZG,-2.071673828,-1.073994166,4.411403067,6.864940815,4.43833962,-2.545805993,..,..,..,..
4,"Venezuela, RB",VEN,GNI per capita (constant 2010 US$),NY.GNP.PCAP.KD,13894.97687,13378.15179,13467.28135,14010.65035,13954.67289,13607.75489,..,..,..,..
5,"Venezuela, RB",VEN,Gross savings (% of GDP),NY.GNS.ICTR.ZS,22.41370968,31.43295512,30.54288285,25.62897701,19.02767037,8.939355092,..,..,..,..
6,"Venezuela, RB",VEN,Households and NPISHs final consumption expend...,NE.CON.PRVT.ZS,62.88064646,55.89488273,55.16190029,59.2728362,65.09003035,75.28960223,..,..,..,..
7,"Venezuela, RB",VEN,Human capital index (HCI) (scale 0-1),HD.HCI.OVRL,..,..,..,..,..,..,..,..,..,..
8,"Venezuela, RB",VEN,"Industry (including construction), value added...",NV.IND.TOTL.ZS,40.81209353,48.40860228,48.63213241,45.16019843,44.72616122,37.24468889,..,..,..,..
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Last Updated: 04/24/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
new_df =df.drop(columns = ['Country Name','Country Code', 'Series Code', '2018 [YR2018]'])

In [86]:
#new_df.dropna()

In [84]:
df1 = new_df[new_df!= '..']
df1

,Country Name,Country Code,Series Name,Series Code,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,"Venezuela, RB",VEN,Population density (people per sq. km of land ...,EN.POP.DNST,32.41009353,32.90973641,33.40319823,33.89045972,34.3720288,34.84879315,35.32127884,35.78955728,36.25312057,NaN
1,"Venezuela, RB",VEN,Population growth (annual %),SP.POP.GROW,1.571087019,1.529865044,1.488309734,1.448189989,1.410956652,1.377538959,1.346707547,1.31705725,1.286930752,NaN
2,"Venezuela, RB",VEN,Population in the largest city (% of urban pop...,EN.URB.LCTY.UR.ZS,11.50520402,11.33709563,11.17621762,11.02981591,10.8920503,10.75950811,10.63197334,10.50897193,10.38965244,NaN
3,"Venezuela, RB",VEN,"Population, total",SP.POP.TOTL,28587323,29028033,29463291,29893080,30317848,30738378,31155134,31568179,31977065,NaN
4,"Venezuela, RB",VEN,Population living in slums (% of urban populat...,EN.POP.SLUM.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Venezuela, RB",VEN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.05442972,50.0812869,50.10822283,50.13508984,50.16167539,50.18767262,50.21294725,50.23737666,50.26112307,NaN
6,"Venezuela, RB",VEN,"Population, male (% of total)",SP.POP.TOTL.MA.ZS,49.94557028,49.9187131,49.89177717,49.86491016,49.83832461,49.81232738,49.78705275,49.76262334,49.73887693,NaN
7,"Venezuela, RB",VEN,"Population ages 65 and above, total",SP.POP.65UP.TO,1532816,1595595,1660816,1728407,1798807,1872352,1949541,2030796,2115057,NaN
8,"Venezuela, RB",VEN,"Population ages 15-64, total",SP.POP.1564.TO,18446608,18796235,19133607,19463631,19787207,20106367,20422290,20731567,21038003,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Last Updated: 04/24/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Venezuela, RB",VEN,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,92.781,93.6039581298828,93.6193,93.6561737060547,92.9207305908203,92.6501388549805,91.9967,88.9437,86.193977355957,NaN
1,"Venezuela, RB",VEN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.0141,93.8302764892578,93.8328,92.4953689575195,91.883659362793,92.8072509765625,91.9483,88.9005,86.0798187255859,NaN
2,"Venezuela, RB",VEN,"Adjusted net enrollment rate, primary, male (%...",SE.PRM.TENR.MA,92.5576,93.387077331543,93.4146,94.7693481445313,93.9154586791992,92.4994506835938,92.0431,88.9852,86.3034820556641,NaN
3,"Venezuela, RB",VEN,Children out of school (% of primary school age),SE.PRM.UNER.ZS,7.21902,6.39603996276855,6.38071,6.34383010864258,7.07926988601685,7.34986019134521,8.00332,11.0563,13.80601978302,NaN
4,"Venezuela, RB",VEN,"Children out of school, female (% of female pr...",SE.PRM.UNER.FE.ZS,6.98591,6.16972017288208,6.16719,7.50463008880615,8.11633968353271,7.19274997711182,8.05169,11.0995,13.9201803207397,NaN
5,"Venezuela, RB",VEN,"Children out of school, male (% of male primar...",SE.PRM.UNER.MA.ZS,7.44237,6.61291980743408,6.58538,5.23064994812012,6.08453989028931,7.50054979324341,7.95692,11.0148,13.6965198516846,NaN
6,"Venezuela, RB",VEN,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,95.3504,NaN,95.0289,NaN,NaN,NaN,96.5601,97.2137,NaN,NaN
7,"Venezuela, RB",VEN,"Literacy rate, adult male (% of males ages 15 ...",SE.ADT.LITR.MA.ZS,95.6754,NaN,94.5023,NaN,NaN,NaN,96.6511,97.0391,NaN,NaN
8,"Venezuela, RB",VEN,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,95.512,NaN,94.7702,NaN,NaN,NaN,96.6052,97.1271,NaN,NaN
9,"Venezuela, RB",VEN,"Literacy rate, youth (ages 15-24), gender pari...",SE.ADT.1524.LT.FM.ZS,1.00545,NaN,1.0139,NaN,NaN,NaN,1.00613,1.00661,NaN,NaN
10,"Venezuela, RB",VEN,"Literacy rate, youth female (% of females ages...",SE.ADT.1524.LT.FE.ZS,98.805,NaN,98.2364,NaN,NaN,NaN,99.3174,99.0926,NaN,NaN
11,"Venezuela, RB",VEN,"Literacy rate, youth male (% of males ages 15-24)",SE.ADT.1524.LT.MA.ZS,98.2699,NaN,96.8899,NaN,NaN,NaN,98.712,98.4419,NaN,NaN
12,"Venezuela, RB",VEN,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,98.5333,NaN,97.5592,NaN,NaN,NaN,99.0076,98.7595,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Last Updated: 04/24/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Venezuela, RB",VEN,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,27.08094145,28.18746471,26.09021232,21.06899563,40.63942752,62.16864998,121.7380853,254.9485348,NaN,NaN
1,"Venezuela, RB",VEN,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Venezuela, RB",VEN,Employment in industry (% of total employment)...,SL.IND.EMPL.ZS,20.95700073,21.02300072,21.10700035,21.22599983,21.32900047,21.28000069,21.17099953,21.19599915,21.14999962,21.10300064
3,"Venezuela, RB",VEN,Final consumption expenditure (annual % growth),NE.CON.TOTL.KD.ZG,-2.071673828,-1.073994166,4.411403067,6.864940815,4.43833962,-2.545805993,NaN,NaN,NaN,NaN
4,"Venezuela, RB",VEN,GNI per capita (constant 2010 US$),NY.GNP.PCAP.KD,13894.97687,13378.15179,13467.28135,14010.65035,13954.67289,13607.75489,NaN,NaN,NaN,NaN
5,"Venezuela, RB",VEN,Gross savings (% of GDP),NY.GNS.ICTR.ZS,22.41370968,31.43295512,30.54288285,25.62897701,19.02767037,8.939355092,NaN,NaN,NaN,NaN
6,"Venezuela, RB",VEN,Households and NPISHs final consumption expend...,NE.CON.PRVT.ZS,62.88064646,55.89488273,55.16190029,59.2728362,65.09003035,75.28960223,NaN,NaN,NaN,NaN
7,"Venezuela, RB",VEN,Human capital index (HCI) (scale 0-1),HD.HCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Venezuela, RB",VEN,"Industry (including construction), value added...",NV.IND.TOTL.ZS,40.81209353,48.40860228,48.63213241,45.16019843,44.72616122,37.24468889,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Last Updated: 04/24/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN